<nz-layout class="layout">
  <nz-sider>
    <div class="logo">Shablau</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="produtos/cadastrar" nzMatchRouter>
      <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span>Cadastrar Produto</span>
      </li>
      <li nz-menu-item routerLink="produtos/listar" nzMatchRouter>
      <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
        <span>Lista de Produtos</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<!-- <router-outlet></router-outlet> -->
